.nav-header {
	display: grid;
	grid-template-columns: 20% 80%;
	align-items: center;
	width: 80vw;
	height: 3vw;
	margin: 0 auto;
}

.nav-logo {
	font-size: 3vw;
	font-weight: 700;
}

.nav-menu {
	display: flex;
	justify-content: flex-end;
	gap: 1vw;
}