@media screen and (min-width: 992px) {
  #Smo-App {
    visibility: hidden;
  }
}

#Smo-App {
  --smo-color: #ef6c33;
  --smo-color2: #0c4a60;
  background-image: url("/src/smo-app/smo-assets/image/login-screen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 100%;
  padding: 70px 20px 50px;
}

#Smo-App img {
  max-width: 250px;
  margin: auto;
}

#Smo-App > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#Smo-App select,
#Smo-App button,
#Smo-App input {
  width: 100%;
  margin: 0 auto;
  height: 45px;
  padding: 0 20px;
  border-radius: 30px;
}

#Smo-App button {
  background: var(--smo-color2);
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  max-width: 200px;
}

#Smo-App button.btn-register {
  background: var(--smo-color);
}

#Smo-App button.btn-guest {
  opacity: 0.8;
}

#Smo-App input {
  display: grid;
  justify-content: center;
  background: rgb(255, 255, 255, 0.6);
  max-width: 270px;
}

#Smo-App select {
  appearance: none;
  border-radius: 5px;
  border: 0;
  outline: none;
  color: var(--smo-color2);
}

.smo-select {
  max-width: 260px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.smo-select::after {
  content: "";
  background-image: url(/src/smo-app/smo-assets/icon/anchor.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

.reset-password {
  text-align: right;
  font-size: 12px;
  color: var(--smo-color2);
  max-width: 300px;
}
