* {
  box-sizing: border-box;
  font-family: "inter";
}

body {
  --color1: #0d1117;
  --color2: #151920;
  --color3: #1c2129;
  --btn-color: #1c2129;
  --font-color: #c5c5c5;
  --font-color2: #c5c5c5;
  --border-radius: 8px;
  --border-color: #222935;
  --gap: 15px;
  margin: 0;
  padding: 0;

  min-height: 100vh;
}

h1 {
  font-size: clamp(32px, 6vw, 80px);
}
h2 {
  font-size: clamp(28px, 5vw, 64px);
}
h3 {
  font-size: clamp(24px, 4vw, 48px);
}
h4 {
  font-size: clamp(20px, 3vw, 36px);
}
h5 {
  font-size: clamp(18px, 2.5vw, 28px);
}

#AppClient {
  background: var(--color1);
  color: var(--font-color);
  font-size: 14px;
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
}

header {
  background: var(--color2);
}

aside {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  min-width: 280px;
  max-width: 280px;
  border-right: 1px solid var(--border-color);
  background: var(--color2);
}

.title {
  font-size: clamp(16px, 1vw, 18px);
}

.body-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-bottom: calc(var(--gap) * 2);
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.page-control {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.pager-btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  color: var(--font-color);
  font-size: 12px;
}

thead,
tbody {
  display: block;
}

thead tr,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  height: 70vh;
  overflow-y: scroll;
  width: calc(100% + 11px);
  padding-right: 5px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: var(--border-radius);
}

tbody > tr > td:first-child {
  padding: 0 var(--gap);
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 0 var(--gap);
  text-align: left;
  height: 40px;
  overflow: hidden;
}

td {
  position: relative;
  white-space: nowrap;
}

*::placeholder {
  color: var(--font-color);
}

input,
textarea {
  width: auto;
  border: 1px solid transparent;
  background: transparent;
  outline: none;
  padding: 0 15px;
  margin: 0;
  color: var(--font-color);
  border: 1px solid var(--border-color);
  min-height: 35px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  background-color: transparent;
}

input:before,
input:focus {
  border: 1px solid var(--btn-color);
}

textarea {
  height: 8vw;
  min-height: 100px;
  background: transparent;
}

input {
  height: fit-content;
  border-radius: var(--border-radius);
}

button {
  display: grid;
  place-items: center;
  height: fit-content;
  width: auto;
  background: var(--btn-color);
  color: #ededed;
  margin: 0;
  border-radius: var(--border-radius);
  border: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 12px;
  padding: 10px 15px;
}

button:hover {
  background: var(--color2);
}

.grid-431 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(180px, 30%, 300px), 1fr));
  gap: var(--gap);
}

.dropdown {
  color: var(--font-color);
  background: var(--color3);
  padding: 5px 15px;
  border: none;
  min-height: 35px;
}

@media (min-width: 1201px) {
}

@media screen and (max-width: 992px) {
  tbody {
    width: 100%;
    padding-right: 0;
  }
}
