:root {
  --main-color1: #0d1117;
  --main-color2: #151920;
  --main-color3: #1c2129;
  --btn-color: #1c2129;
  --font-color: #c5c5c5;
  --font-color2: #c5c5c5;
  --border-radius: 8px;
  --border-color: #353535;
  --gap: 15px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: var(--border-radius);
  min-height: 5%;
}

* {
  box-sizing: border-box;
  font-family: "inter";
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  min-height: 100vh;
  background: var(--main-color1);
  color: var(--font-color);
}

h1 {
  font-size: clamp(32px, 6vw, 80px);
}
h2 {
  font-size: clamp(28px, 5vw, 64px);
}
h3 {
  font-size: clamp(24px, 4vw, 48px);
}
h4 {
  font-size: clamp(20px, 3vw, 36px);
}
h5 {
  font-size: clamp(18px, 2.5vw, 28px);
}

#AppClient {
  background: var(--main-color1);
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
}

.title {
  font-size: clamp(18px, 2vw, 24px);
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  color: var(--font-color);
  font-size: 12px;
}

tbody > tr > td:first-child {
  padding: 0 var(--gap);
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 0 var(--gap);
  text-align: left;
  height: 40px;
  overflow: hidden;
}

td {
  position: relative;
  white-space: nowrap;
}

*::placeholder {
  color: var(--font-color);
}

input,
textarea {
  width: auto;
  border: 1px solid transparent;
  background: transparent;
  outline: none;
  padding: 0 15px;
  margin: 0;
  color: var(--font-color);
  border: 1px solid var(--border-color);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  background-color: transparent;
}

input:before,
input:focus {
  border: 1px solid var(--btn-color);
}

textarea {
  height: 8vw;
  min-height: 100px;
  background: transparent;
}

input,
button {
  height: fit-content;
  min-height: 35px;
  border-radius: var(--border-radius);
}

button {
  display: grid;
  place-items: center;
  height: fit-content;
  width: fit-content;
  background: var(--btn-color);
  color: #ededed;
  margin: 0;
  border-radius: var(--border-radius);
  border: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 15px;
}

.grid-431 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(180px, 30%, 300px), 1fr));
  gap: var(--gap);
}

.table-views {
  height: 80vh;
  overflow-x: scroll;
}

.page-control {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.dropdown {
  color: var(--font-color);
  background: var(--main-color3);
  padding: 5px 15px;
  border: none;
  min-height: 35px;
}

@media (min-width: 1201px) {
}
