:root {
  --main-color: #0d1117;
  --main-color2: #151920;
  --main-color3: #1c2129;
  --btn-color: #1c2129;
  --font-color: #c5c5c5;
  --font-color2: #c5c5c5;
  --none: #777;
  --wait: #0087ff;
  --warning: #ffe600;
  --process: #b371ff;
  --complete: #09ff00;
  --border-radius: 8px;
  --border-color: #353535;
  --gap: 20px;
}

.light-mode {
  --main-color: #fff;
  --main-color2: #fff;
  --main-color3: #fff;
  --font-color: #222;
  --border-color: #bbbbbb;
  & img {
    filter: unset;
  }
}

.Installed:after {
  background: var(--complete);
}

.Wait:after {
  background: var(--wait);
}

.Ads:after {
  background: var(--process);
}

.NoService:after {
  background: var(--none);
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: var(--border-radius);
  min-height: 5%;
}

#AppClient {
  position: relative;
  display: flex;
  flex-direction: column;
  height: inherit;
  height: 100vh;
  color: var(--font-color);
}

* {
  box-sizing: border-box;
  font-family: "inter";
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  min-height: 100vh;

  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

footer {
  display: grid;
  align-items: center;
  background: var(--main-color);
  height: 50px;
  text-align: center;
  border-top: 1px solid var(--border-color);
}

main {
  display: flex;
  height: calc(100vh - 50px);
  background: var(--main-color);
}

section {
  height: 100%;
  width: 100%;
  padding: var(--gap) calc(var(--gap) * 5);
  overflow-y: scroll;
}

h1 {
  font-size: clamp(32px, 6vw, 80px);
}
h2 {
  font-size: clamp(28px, 5vw, 64px);
}
h3 {
  font-size: clamp(24px, 4vw, 48px);
}
h4 {
  font-size: clamp(20px, 3vw, 36px);
}
h5 {
  font-size: clamp(18px, 2.5vw, 28px);
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

label {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  color: var(--font-color);
}

tbody > tr > td:first-child {
  padding: 0 var(--gap);
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 0 var(--gap);
  text-align: left;
  height: 40px;
  overflow: hidden;
}

td {
  position: relative;
  padding-left: clamp(20px, 1.5vw, 30px);
  white-space: nowrap;
}

td:after {
  display: block;
  content: "";
  border-radius: 50%;
  width: clamp(7px, 1vw, 10px);
  height: clamp(7px, 1vw, 10px);
  position: absolute;
  top: 0;
  left: clamp(8px, 1.5vw, 10px);
  bottom: 0;
  margin: auto;
}

form {
  display: grid;
  gap: var(--gap);
}

*::placeholder {
  color: var(--font-color);
}

form > input {
  min-height: 45px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  width: 100%;
  border: 1px solid transparent;
  background: transparent;
  outline: none;
  padding: 0 15px;
  margin: 0;
  color: var(--font-color);
  border: 1px solid var(--border-color);
}

input:before,
input:focus {
  border: 1px solid var(--btn-color);
}

textarea {
  height: 8vw;
  min-height: 100px;
  background: transparent;
}

input,
button {
  height: fit-content;
  min-height: 40px;
  border-radius: var(--border-radius);
}

button {
  display: grid;
  place-items: center;
  width: fit-content;
  min-width: 110px;

  background: var(--btn-color);
  color: #ededed;
  margin: 0;
  border-radius: var(--border-radius);
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.filter_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
}

.filter_box button.active {
  opacity: 0.5;
}

.labelName {
  display: grid;
  font-size: clamp(20px, 2vw, 24px);
  width: fit-content;
}

.labelName:after {
  display: block;
  content: "";
  background: var(--btn-color);
  border-radius: 30px;
  width: 80%;
  height: 7px;
  margin: 10px 0 var(--gap);
}

.grid_431 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(180px, 30%, 300px), 1fr));
  gap: var(--gap);
}

@media (min-width: 1201px) {
}

@media (max-width: 1200px) {
  footer {
    display: none;
  }

  aside {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  table {
    font-size: 12px;
  }
}
