/* Reset & Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  color: var(--font-color);
  font-size: var(--font-xs);
}

a {
  text-decoration: none;
}

/* Images */
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: var(--color3);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--neon);
}
