/* Status Component */
.status {
  padding: calc(var(--gap) * 0.5) calc(var(--gap) * 1.5);
  border-radius: calc(var(--gap) * 0.5);
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

/* table Cell Styles */
.hasStatus {
  font-weight: 500;
  text-align: center;
  color: var(--warning);
}

.Installed {
  color: var(--success);
}

.Wait {
  color: var(--primary-hover);
}

.Ads {
  color: var(--reserved);
}

.NoService {
  color: var(--neon);
}

.Complete {
}
