.table-view-container {
  display: flex;
  gap: var(--gap2);
  height: 100%;
}

.table-scroll {
  flex: 1;
  overflow: auto;
  height: 100%;
  padding-right: var(--gap);
}

.table-views {
}

.filter-sidebar {
  width: 20%;
}

table {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
  color: var(--font-color);
  table-layout: fixed;
}

thead,
tbody {
  display: block;
}

thead tr,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead th {
  position: sticky;
  top: 0;
  background: var(--color2);
  font-weight: 600;
  text-align: left;
  z-index: 10;
}

tbody {
  width: 100%;
}

th,
td {
  padding: var(--gap) var(--gap2);
  border: 1px solid var(--border-color);
  text-align: left;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  white-space: nowrap;
}

tbody tr:hover {
  background: rgba(255, 255, 255, 0.02);
}
