.wrapper-container {
  display: flex;
  gap: var(--gap2);
  height: 100%;
}

.wrapper-scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap2);
  height: auto;
}

.results-display,
.pagination-container {
  height: fit-content;
  flex-shrink: 0;
}

.table-views {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
}

.filter-sidebar {
  width: 20%;
}

table {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
  color: var(--font-color);
  table-layout: fixed;
}

thead,
tbody {
  display: block;
}

thead tr,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead th {
  position: sticky;
  top: 0;
  background: var(--color2);
  font-weight: 600;
  text-align: left;
  z-index: 10;
}

tbody {
  width: 100%;
}

th,
td {
  padding: var(--gap) var(--gap2);
  border: 1px solid var(--border-color);
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

td {
  white-space: nowrap;
}

tbody tr:hover {
  background: rgba(255, 255, 255, 0.02);
}
