:root {
  /* Colors */
  --color1: #0d1117;
  --color2: #151920;
  --color3: #1c2129;
  --btn-color: #1c2129;
  --font-color: #c5c5c5;
  --border-color: #222935;
  --white: #fff;

  /* Accent Colors */
  --primary: #2563eb;
  --primary-hover: #3b82f6;
  --danger: #dc2626;
  --danger-hover: #b91c1c;
  --success: #16a34a;
  --warning: #d8b000;
  --reserved: #d1adff;
  --neon: #03dac6;

  /* Font size */
  --font-lg: 24px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-xs: 12px;

  /* Spacing */
  --gap: 10px;
  --gap2: 20px;

  /* Border */
  --border-radius: 6px;
  --box-shadow: 1px 1px 2px transparent;

  /* Sizes */
  --icon-size: 25px;
  --icon-size2: 30px;
  --icon-size3: 40px;

  /* Animation */
  --transition: 0.2s;
}
