body {
  overflow-x: hidden;
}

.no-js a {
  color: #444;
  transition: 0.35s;
}
.no-js a:hover {
  color: #e92d29;
}
.itopplus-footer {
  color: #fff;
}
.itopplus-footer a {
  color: #fff;
}
.itopplus-footer a:hover {
  color: #fff;
}

.itopplus-bg {
  background-image: url("https://itp1.itopfile.com/ImageServer/z_itp_08012023eg1f/0/0/1z-z1470674563275.jpg");
}
.navbar-default .navbar-nav > li > a {
  color: #282828;
  margin: 0 15px;
  padding: 10px 5px;
  font-size: 18px;
  margin-bottom: -2px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #282828 !important;
  box-shadow: 0px 3px 0px 0px #e92d29;
  border-radius: none;
  background: transparent;
  background-color: transparent;
}
.dropdown-menu > li > a {
  color: #000;
  font-size: 17px;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #000;
  background: #e8e8e8;
}

@media screen and (max-width: 992px) {
  #controlBanner img {
    position: fixed;
    top: 0;
    left: 10px;
    width: 45px !important;
    z-index: 110;
  }
  .navbar-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10px;
    box-shadow: 0 0 3px 0 #ccc;
  }
  #ItopplusMainSidebar,
  .navbar-header {
    background: #fff;
  }
  #controlMenu,
  #controlMenu i,
  #controlMenu li a {
    color: #444 !important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #444 !important;
    color: #444 !important;
  }
}

@media screen and (min-width: 1024px) {
  #controlBanner {
    object-fit: contain;
    padding: 15px;
    width: 85%;
    margin: 0 auto;
  }
  #nav-menu {
    text-align: center;
    background-color: transparent;
  }
  .no-js .itopplus-banner {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 110;
  }
  #background663c4228a2fcc700130e1e26 {
    width: 50%;
    margin: 0 auto;
  }
  #background663c768030effb00130f12f0,
  #background663c77e779e364001326c0ac,
  #background663c782e153e030013668eff {
    width: 70%;
    margin: 0 auto;
  }
  .bg-leader p {
    white-space: break-spaces;
  }
}

@media screen and (min-width: 1366px) {
}

/* oscar*/
figure.effect-oscar {
  background: transparent;
}
figure.effect-oscar img {
  opacity: 1;
}
figure.effect-oscar:hover img {
  opacity: 1;
}
figure.effect-oscar figcaption::before {
  border: 0px solid #fff;
}
figure.effect-oscar figcaption {
  background: transparent;
}
figure.effect-oscar:hover figcaption {
  background: transparent;
}
figure.effect-oscar h2 {
  margin: 0% 0 0px 0;
  -webkit-transition: -webkit-transform 0.32s;
  transition: transform 0.32s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.effect-oscar:hover h2 {
  opacity: 1;
  transition: 0.32s;
  transform: none !important;
}
.grid figure h2 {
  word-spacing: 0em;
  font-weight: 300;
  text-transform: none;
}
figure.effect-oscar img {
  max-width: none;
  -webkit-transition: opacity 0.32s, -webkit-transform 0.32s;
  transition: opacity 0.32s, transform 0.32s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure.effect-oscar:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.05, 1.05, 1);
}
/* oscar */

/*เฉพาะรูปแบบมีขอบ*/
.thumbnail img.imageGallery:hover {
  -webkit-transform: scale(1.1);
  transform: scale(0.98);
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.thumbnail .imageWidth.imageGallery {
  transform: scale(1);
  transition: 0.32s;
}
.thumbnail .imageWidth.imageGallery:hover {
  transform: scale(1.05);
  transition: 0.32s;
}

/**ห้ามเกินกรอบ**/
.thumbnail .imgLightbox {
  position: relative !important;
  overflow: hidden !important;
  width: 100.1% !important;
}
#background663c30fd30effb00130f04ba .thumbnail {
  border: solid 0px #dadada;
  background: #fff;
  color: #000;
  border-radius: 25px;
  padding: 0% !important;
  transition: 0.35s;
  box-shadow: 3px 3px 15px 1px rgb(191 191 191 / 35%);
  margin-bottom: 15%;
}
#background663c30fd30effb00130f04ba .thumbnail:hover {
  box-shadow: 3px 3px 15px 1px rgb(191 191 191 / 35%);
  background: #fff;
  border-radius: 25px;
  transition: 0.35s;
  color: #000;
}
#background663c30fd30effb00130f04ba .thumbnail .imgLightbox {
  border-radius: 25px 25px 0px 0px;
}
/*เฉพาะรูปแบบมีขอบ*/

/*from Contact*/
.no-js #Component663c441ba2fcc700130e1fb0 label {
  display: none !important;
}
.no-js #Component663c441ba2fcc700130e1fb0 .col-md-6 {
  width: 100%;
  margin-left: auto;
  display: block;
  margin-right: auto;
  float: initial;
  padding-left: 20px;
}
.no-js #Component663c441ba2fcc700130e1fb0 .form-control {
  border: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  border-radius: 0px !important;
  box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%);
  padding: 29px 14px;
  background: transparent;
  color: #000;
  font-size: 16px !important;
}
.no-js #Component663c441ba2fcc700130e1fb0 .form-control:focus {
  border-bottom: 1px solid #aeaeae;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #000;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0);
  color: #1b1c1e !important;
}
.no-js #Component663c441ba2fcc700130e1fb0 .btn {
  background: #e92d29;
  color: #fff;
  text-shadow: 0 0px 0 #00000000;
  background-repeat: repeat-x;
  border-color: #e92d29;
  border-radius: 30px;
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-weight: 400;
}
.no-js #Component663c441ba2fcc700130e1fb0 .btn-default:active {
  background: #e92d29;
  color: #fff;
}
.no-js #Component663c441ba2fcc700130e1fb0 .btn-default:hover,
.no-js #Component663c441ba2fcc700130e1fb0 .btn-default:focus {
  background-position: 0 0px;
  background: #e92d29;
  border: 1px solid transparent;
}
.no-js #Component663c441ba2fcc700130e1fb0 .col-xs-12.col-sm-5.col-md-5.padding {
  width: 100%;
}
.no-js #Component663c441ba2fcc700130e1fb0 span.label {
  font-size: 13px;
  font-weight: 400;
}
.no-js #Component663c441ba2fcc700130e1fb0 ::placeholder {
  color: #333 !important;
  font-weight: 400;
}
/*from Contact*/

/* ฟอร์ม Style 1 */
#formdisplay668b86bd99e6950013607d84 .form-control {
  border: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  border-radius: 0px !important;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  background-color: transparent;
  padding: 25px 20px;
  font-size: 16px;
  width: 100% !important;
  margin: 4px 0px;
}
#formdisplay668b86bd99e6950013607d84 .form-control:focus {
  border-bottom: 1px solid #c2c2c2;
}
#formdisplay668b86bd99e6950013607d84 .form-control:hover {
  border-bottom: 1px solid #c2c2c2;
}
#formdisplay668b86bd99e6950013607d84 .btn-default:hover,
#formdisplay668b86bd99e6950013607d84 .btn-default:focus {
  background-position: 0 0px;
  background: #fff;
  transition: 0.35s;
}
#formdisplay668b86bd99e6950013607d84 .btn-default {
  background-repeat: repeat-x;
  border-color: #0000;
  padding: 10px 30px;
  font-size: 15px;
  border: 0px solid transparent;
  color: #fff;
  text-shadow: none;
  border-radius: 0px;
  background: #d42127;
  transition: 0.5s;
}
#btnview660e2d6583c6350013c6c5a6 {
  margin-left: 0%;
}
#formdisplay668b86bd99e6950013607d84 ::placeholder {
  color: #000;
}
#formdisplay668b86bd99e6950013607d84 span.label {
  display: contents;
}
#formdisplay668b86bd99e6950013607d84 a#capchatxt {
  font-weight: 300;
  color: #000;
  margin-left: 2%;
}
#formdisplay668b86bd99e6950013607d84 {
  background: transparent !important;
  width: 95%;
  float: left;
  position: sticky;
  z-index: 1;
}
#formdisplay668b86bd99e6950013607d84 .form-control::placeholder {
  color: #000 !important;
}
#form668b86bd99e6950013607d84 {
  padding: 0px !important;
}
.no-js #editor1,
#editor2,
#editor3,
#editor4,
#editor6 {
  display: none;
}
#btnview668b86bd99e6950013607d84 {
  margin-left: 0%;
}
#cookie668b86bd99e6950013607d84 {
  margin-top: -15px;
  font-size: 15px;
}
/* ฟอร์ม Style 1 */

/*contenemanager*/
h3.managerHeader {
  display: none;
}
#Contentmanager .post-time {
  display: none;
}
.page-header {
  margin: 0px 0 30px;
  border-bottom: 0px solid #e1723a;
}
.landingpagemanager {
  display: none;
}
.Contentmanager .site .col-section .item.-micro a .caption .title {
  text-align: center;
  font-size: 16px;
  padding: 7% 0% 0%;
  color: #444444;
}
.Contentmanager .site .col-section .item.-micro a:hover .caption .title {
  color: #444444;
}
.Contentmanager .site .col-section .item.-micro a .caption .time {
  display: none;
}
article.col-md-6.item.-micro {
  width: 25%;
}
.Contentmanager .site .col-section .item.-micro {
  padding: 10px 10px 10px 15px;
}
.Contentmanager .site .col-section .item.-micro a .image {
  width: 100%;
  margin-bottom: 0px;
}
.Contentmanager .site .col-section .item.-micro a .caption {
  width: 100%;
  background: transparent;
  padding-left: 0;
}
.Contentmanager .site .col-section .item.-micro:nth-child(odd) {
  border-right: none;
  border-bottom: none;
}
.Contentmanager .site .col-section .item.-micro:nth-child(even) {
  border-bottom: none;
}
.Contentmanager .site .col-section .item.-micro a .post {
  display: none;
}
.contenemanager-gallery .col-xs-12.col-md-3 {
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
}
.Contenemanager-gallery .col-xs-6.col-md-3 {
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
}
.contenemanager-gallery .thumbnail {
  padding: 0px;
  border: 0px solid #fff;
  border-radius: 0px;
  transition: 0.3s;
}
.Contenemanager-gallery .thumbnail {
  padding: 0px;
  border: 0px solid #fff;
  border-radius: 0px;
  transition: 0.3s;
}
.Contenemanager-gallery .thumbnail:hover {
  transition: 0.3s;
  border: 0px solid #fff;
  background-color: white;
}
.contenemanager-gallery .thumbnail:hover {
  transition: 0.3s;
  border: 0px solid #fff;
  background-color: white;
}
.contenemanager-gallery .thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0px 0px 20px 5px rgb(217 217 217 / 40%);
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: transparent;
}
.fbcomments,
.fbcomments {
  display: none;
}
.thumbnail {
  border: 0px solid #ddd;
}
.img-thumbnail,
.thumbnail {
  box-shadow: 0 0px 0px rgb(0 0 0 / 8%);
}
.Contentmanager .img-thumbnail {
  border: 0px solid #ddd;
}
.Contentmanager p {
  white-space: break-spaces;
  font-size: 16px;
}
.Contentmanager .thumbnail {
  background-color: transparent;
}
.img-thumbnail {
  background-color: transparent;
}
.Contentmanager .site .col-section .item.-micro a .img-zoom img:hover {
  transform: scale3d(1.05, 1.05, 1) !important;
}
.Contentmanager .site .col-section .item.-micro a:hover .img-zoom img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale3d(1.05, 1.05, 1) !important;
}
.social-share {
  display: none;
}
/*contenemanager*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 28px;
}
p {
  font-size: 16px;
}
b,
strong {
  font-weight: 600;
}

.vertexservice-menu {
  text-transform: uppercase;
  white-space: break-spaces;
  text-align: center;
  margin-top: -7%;
  margin-bottom: 1%;
}
.vertexservice-menu h1 {
  font-weight: 600;
}
.vertexservice-menu-head h1 {
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff5e;
  text-shadow: none;
  font-size: 7em;
  font-weight: 600;
}
.vertexservice-menu-head {
  margin-top: 5%;
}
.vertexservice-content {
  white-space: break-spaces;
}
.btnabout {
  background: #e92d29;
  color: #fff;
  text-align: center;
  width: fit-content;
  padding: 8px 20px;
  border-radius: 30px;
  margin-top: 6%;
  transition: 0.35s;
}
.btnabout:hover {
  background: #017eff;
  transition: 0.35s;
}
.sectionone-vertexservice h1 {
  color: #017eff;
  font-weight: 600;
}
.sectionone-vertexservice h6 {
  border-left: 3px solid #e92d29;
  white-space: break-spaces;
  padding-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  color: #017eff;
  font-weight: 600;
}
.sectionone-vertexservice h6 span {
  color: #e92d29;
  text-transform: uppercase;
  font-size: 35px;
}
.sectionone-vertexservice {
  padding: 10% 0% 5% 5%;
}
.btn-t {
  margin-left: 5%;
  margin-top: -5%;
}
.empty-vertexservice {
  padding: 1%;
}
.copyright {
  font-size: 12px;
}

.vertexservice-footer-2 {
  white-space: break-spaces;
  margin-top: 15px;
}
.vertexservice-footer {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5%;
}
.pd-iconsocial-footer {
  display: flex;
  width: 85%;
  margin-bottom: 10px;
}
.block-iconsocial-footer {
  display: flex;
  width: 100%;
}
.iconsocial-footer {
  width: 14%;
}
.iconsocial-footer-t {
  align-self: center;
  margin-left: 10px;
}
.block-iconsocial-footer-2 {
  display: flex;
  width: 45%;
}
.headpage-vertexservice h1 {
  font-weight: 600;
}
.headpage-vertexservice {
  padding: 1.5% 0%;
}
.comingsoon {
  padding: 10% 0% 15%;
}
.btnservice {
  background: #78777c;
  color: #fff;
  text-align: center;
  font-size: 14px;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 30px;
  font-weight: 400;
  margin-top: 10%;
  margin-bottom: -6%;
}
.blockbgservice-vertexservice {
  text-align: center;
  margin-top: 10%;
}
#background663c30fd30effb00130f04ba .thumbnail:hover .btnservice {
  background: #e92d29;
  transition: 0.35s;
}
.iconline {
  width: 5%;
  margin: 0 auto;
  padding: 15% 0% 6%;
}
.vertexservice-safety {
  text-align: center;
  padding: 2% 0% 25%;
}
.vertexservice-safety h1 {
  font-weight: 600;
}
.sectiontwo-vertexservice {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}
.sectiontwo-vertexservice h1 {
  font-weight: 600;
}
.sectiontwo-vertexservice h6 {
  font-weight: 600;
}
.itopplus-bg {
  background-size: 100%;
  background-position: top;
  background-color: #2b619f;
}
.vertexservice-safety h3 {
  height: 70px;
}
.sectiontwo-vertexservice h1 span {
  font-size: 1.7em;
}
.number-leader-2::before {
  content: " ";
  position: absolute;
  width: 2px;
  height: 25px;
  background: #78777c;
  top: -19px;
  left: 10px;
}
.number-leader-2::after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #78777c;
  left: 10px;
  top: -20px;
}
.number-leader::before {
  content: " ";
  position: absolute;
  width: 2px;
  height: 25px;
  background: #78777c;
  top: 35px;
  right: 18px;
}
.number-leader::after {
  content: " ";
  position: absolute;
  width: 27px;
  height: 2px;
  background: #78777c;
  right: 19px;
  bottom: -29px;
}
.number-leader {
  position: relative;
  color: #e92d29;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-leader {
  margin-top: 5%;
  padding-left: 4%;
  text-align: center;
}
.bg-leader {
  background: #fff;
  color: #000;
  text-align: center;
  border-radius: 25px;
  padding: 0 10% 15%;
  box-shadow: 3px 3px 15px 1px rgb(79 79 79 / 35%);
  height: 290px;
}
.number-leader-2 {
  text-align: center;
}
.block-section-leader {
  padding: 16% 0% 18% 0%;
}
.number-leader-2 {
  position: relative;
  color: #e92d29;
  font-size: 3em;
  font-weight: 600;
}
.bg-leader-2 {
  background: #fff;
  color: #000;
  text-align: center;
  border-radius: 25px;
  padding: 0 10% 15%;
  box-shadow: 3px 3px 15px 1px rgb(79 79 79 / 35%);
  height: 190px;
}
.number-leader-3 {
  position: relative;
  color: #e92d29;
  font-size: 3.5em;
  font-weight: 600;
  padding: 11% 0% 5%;
}
.buttonExampleSite {
  border: 0px solid #fff !important;
  color: #fff !important;
  background: #e92d29 !important;
  border-radius: 5px !important;
  font-weight: 300;
}
.buttonExampleSite:hover {
  background: #e92d29 !important;
  color: #fff !important;
}
.pdpa-text.pdpamg1 {
  padding: 5% 0%;
}
.ITPcookiebar {
  background-color: #302f2fe0 !important;
  color: #fff !important;
}
.ITPlinkToCookiepage:hover {
  color: #fff !important;
}
.ITPcookiebar {
  width: 100% !important;
  font-size: 14px !important;
}
.pdpa-text.pdpamg1 {
  padding: 5% 0%;
}
ul.icon-a {
  font-size: 15px;
}
figure.effect-apollo figcaption::before {
  background: rgb(255 255 255 / 0%);
}
figure.effect-apollo {
  background: transparent;
  border-radius: 25px;
}
ul.icon-product ::marker {
  color: #e92d29;
}
.service-vertexservice h6 {
  color: #017eff;
  font-weight: 600;
}
.service-vertexservice h3 {
  margin-bottom: 10px;
}
.service-vertexservice {
  margin-left: 3%;
  width: 100%;
  margin-top: -2%;
}
.bgsupplybusiness {
  background: #ffffff;
  padding: 5% 3% 5%;
  border-radius: 25px;
  margin-bottom: 6%;
  margin-top: -2%;
}
ul.icon-product {
  line-height: 1.6;
}
.border-about {
  border-left: 3px solid #e92d29;
  white-space: break-spaces;
  padding-left: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  color: #017eff;
  font-weight: 600;
}
.head-supplybusiness {
  background: #e92d29;
  color: #fff;
  text-align: center;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 5%;
  position: sticky;
  box-shadow: 3px 3px 15px 1px rgb(79 79 79 / 35%);
}
.head-supplybusiness h4 {
  font-weight: 600;
}
.bgsupplybusiness .icon-product {
  margin-left: -3%;
}
.border-about2 p {
  border-left: 3px solid #e92d29;
  padding-left: 4%;
  margin-top: 3%;
}
.block-iconabout {
  display: flex;
  width: 100%;
  margin-bottom: 4%;
}
.iconabout {
  width: 10%;
}
.iconabout-t {
  align-items: center;
  margin-left: 3%;
}
.border-about2 {
  padding: 0% 5% 0% 0%;
}
#background663c72ec79e364001326be10 .imgLightbox,
#background663c6f82153e030013668c12 .imgLightbox,
#background663c72dad00328001359e369 .imgLightbox {
  border: 1px solid #e2e2e2;
  padding: 2%;
}
.block-iconsocial-contact {
  display: flex;
  width: 100%;
  margin-bottom: 6px;
}
.iconsocial-contact {
  width: 7%;
}
.iconsocial-contact-t {
  align-self: center;
  margin-left: 2%;
}
.effect-default p {
  text-align: center;
  margin: 0;
  line-height: 1.7;
}
.effect-default h2 {
  margin: 15px 0 10px !important;
}
.nav-template7 li a {
  font-size: 16px !important;
}
.nav-template7 li a strong {
  font-weight: 400;
}
.Contentmanager p {
  white-space: break-spaces;
  font-size: 16px;
}
#contenttype71 span {
  font-size: 15px;
  white-space: break-spaces;
  line-height: 1.5;
}
.blockwork p {
  white-space: break-spaces;
  line-height: 1.5;
}
.blockwork {
  background: #eee;
  border-radius: 25px;
  padding: 9% 5% 5% 5%;
  margin-top: -9%;
}
.blockwork-btn {
  position: sticky;
}
.windsor {
  width: 30%;
}
.contact-form {
  border-left: 2px solid #ea2f28;
  padding-left: 15px;
}
.contact-form h3 {
  font-weight: 600;
}
.btnblock-form {
  display: flex;
  width: 100%;
}
.btnblock-form-t {
  align-self: center;
  padding-right: 5%;
}
.logo-uni {
  width: 45%;
}
.btnblock-form-t h3 {
  white-space: break-spaces;
}
.btnblock-form {
  margin-top: 5%;
}
ul.nav.nav-pills.nav-stacked {
  font-size: 16px;
}
ul.nav.nav-pills.nav-stacked li {
  border-bottom: 1px solid #eee;
  padding: 10px 0px;
}
li#menu66d160bcc501150013f13859 {
  background: #f2f2f2;
}
li#menu66d160c846cfa70013599f21 {
  background: #f2f2f2;
}
#background66d16b3346cfa7001359a111 .nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}

@media screen and (min-width: 1900px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 23px;
  }
  h4 {
    font-size: 27px;
  }
  h5 {
    font-size: 32px;
  }
  h6 {
    font-size: 36px;
  }
  p {
    font-size: 20px;
  }
  b,
  strong {
    font-weight: 600;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 10px 10px;
    font-size: 24px;
  }
  .dropdown-menu > li > a {
    font-size: 22px;
  }
  .sectionone-vertexservice h6 span {
    font-size: 42px;
  }
  .vertexservice-menu-head h1 {
    font-size: 8em;
  }
  .bg-leader {
    height: 350px;
  }
  .number-leader-2 {
    font-size: 4em;
  }
  .number-leader {
    font-size: 28px;
  }
  .number-leader-3 {
    position: relative;
    color: #e92d29;
    font-size: 4.5em;
    font-weight: 600;
    padding: 11% 0% 5%;
  }
  .bg-leader-2 {
    height: 240px;
  }
  .btnservice {
    font-size: 18px;
  }
  .copyright {
    font-size: 16px;
  }
  .vertexservice-footer-2 {
    font-size: 18px;
  }
  .vertexservice-footer {
    font-size: 20px;
  }
  .iconsocial-footer-t {
    font-size: 18px;
  }
  .iconsocial-contact {
    width: 6%;
  }
  .no-js #Component663c441ba2fcc700130e1fb0 .form-control {
    padding: 31px 14px;
    font-size: 19px !important;
  }
  span#contactUsAcceptPolicyText1 {
    font-size: 16px;
  }
  .nav-template7 li a {
    font-size: 20px !important;
  }
  #contenttype71 span {
    font-size: 19px;
  }
  #formdisplay668b86bd99e6950013607d84 .form-control {
    padding: 26px 20px;
    font-size: 18px;
  }
  #cookie668b86bd99e6950013607d84 {
    font-size: 18px;
  }
  .Contentmanager .site .col-section .item.-micro a .caption .title {
    font-size: 20px;
  }
  .Contentmanager p {
    font-size: 20px;
  }
  ul.nav.nav-pills.nav-stacked {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }
  h6 {
    font-size: 26px;
  }
  .navbar-default .navbar-nav > li > a {
    margin: 0 13px;
    padding: 10px 0px;
  }
  .vertexservice-content {
    white-space: inherit;
  }
  .sectionone-vertexservice h6 span {
    font-size: 28px;
  }
  .number-leader-2 {
    font-size: 2em;
  }
  .number-leader {
    font-size: 18px;
  }
  .bg-leader {
    height: 250px;
  }
  .number-leader-2::after {
    left: 10px;
    top: -9px;
  }
  .number-leader-2::before {
    top: -8px;
    left: 10px;
  }
  .number-leader::before {
    top: 26px;
  }
  .block-section-leader {
    padding: 16% 0% 25% 0%;
  }
  .iconsocial-contact {
    width: 8%;
  }
  .no-js #Component663c441ba2fcc700130e1fb0 .form-control {
    padding: 26px 14px;
  }
  .block-section-leader {
    padding: 16% 0% 16% 0%;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2em;
  }
  .navbar-header {
    box-shadow: 0 0 0px 0 #ccc;
  }
  #background663c3ac4a2fcc700130e1d20 .col-md-3.col-sm-6.col-xs-12.padding {
    width: 25%;
  }
  .number-leader-2 {
    font-size: 24px;
  }
  .number-leader {
    font-size: 16px;
  }
  #background663c4228a2fcc700130e1e26 {
    width: 50%;
    margin: 0 auto;
  }
  .number-leader-3 {
    font-size: 24px;
  }
  .bg-leader-2 {
    height: 150px;
  }
  #background663c35b730effb00130f0670 .col-md-3.col-sm-6.col-xs-12.padding {
    width: 25%;
  }
  .copyright {
    text-align: center;
  }
  .vertexservice-menu-head h1 {
    font-size: 6em;
  }
  .iconsocial-contact {
    width: 11%;
  }
  .bg-leader p {
    padding: 0% 5%;
  }
  .block-section-leader {
    padding: 16% 0% 30% 0%;
  }
}

@media screen and (max-width: 480px) {
  #background663c3ac4a2fcc700130e1d20 .col-md-3.col-sm-6.col-xs-12.padding {
    width: 100%;
  }
  #background663c4228a2fcc700130e1e26 {
    width: 100%;
    margin: 0 auto;
  }
  #background663c35b730effb00130f0670 .col-md-3.col-sm-6.col-xs-12.padding {
    width: 100%;
  }
  #imagesControl663a0437a8754a0013c6694e {
    padding: 0px !important;
  }
  .vertexservice-menu-head h1 {
    font-size: 4em;
  }
  .vertexservice-menu {
    margin-top: -14%;
  }
  .number-leader-2 {
    font-size: 48px;
  }
  .number-leader {
    font-size: 24px;
  }
  .block-section-leader {
    padding: 16% 0% 12% 0%;
  }
  .bg-leader {
    height: 280px;
  }
  .number-leader::after {
    bottom: -18px;
  }
  .number-leader-3 {
    font-size: 48px;
  }
  .bg-leader-2 {
    height: auto;
  }
  .vertexservice-safety {
    text-align: center;
    padding: 0% 0% 5%;
  }
  #background663b4f3b0a7e2b0013b831f6 .row-fluid [class*="col-sm-5fix"] {
    width: 50% !important;
  }
  #controlBanner img {
    position: fixed;
    top: 5px;
    left: 10px;
    width: 30px !important;
    z-index: 110;
  }
  #background663b4f7e862a5e00130d53e1 .row-fluid [class*="col-sm-5fix"] {
    width: 50% !important;
  }
  .iconabout {
    width: 17%;
  }
  .border-about2 {
    padding: 5% 5% 5% 0%;
  }
  .bgsupplybusiness {
    margin-top: -5%;
    padding: 15% 3% 5%;
  }
  .bgsupplybusiness .icon-product {
    margin-left: -7%;
  }
  .iconsocial-contact {
    width: 13%;
  }
  .windsor {
    width: 55%;
  }
  #cookie668b86bd99e6950013607d84 {
    margin-top: -30px;
    font-size: 15px;
    text-align: left !important;
    padding: 0px 10px;
  }
  .logo-uni {
    width: 80%;
  }
  article.col-md-6.item.-micro {
    width: 100%;
  }
  .Contenemanager-gallery .col-xs-6.col-md-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  .Contentmanager .col-md-12.text-justify {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.block-icondownload {
  background: #e92d29;
  color: #fff;
  width: 100%;
  display: flex;
  padding: 20px 0px 20px 10px;
  border-radius: 10px;
  transition: 0.35s;
}
.block-icondownload:hover {
  background: #007efe;
  transition: 0.35s;
}
.icondownload {
  width: 18%;
}
.icondownload-t {
  align-self: center;
  margin-left: 3%;
}
.icondownload-t h3 {
  font-weight: 600;
}
#contenttype71 {
  white-space: break-spaces;
}
ul.nav-template7 span {
  color: #ea2f28 !important;
}
ul.nav-template7 {
  margin-top: -10px;
}
.nav-template7 li {
  list-style: none;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #e2e2e2;
  border-top: 0px solid #f6f6f6;
}
#ContentmanagerTemplate66c824e92a161d0013139a06,
#ContentmanagerTemplate66c8287b9effe100135f8014 {
  margin-top: -10px;
}
#tableA {
  width: 100%;
}
#tableA th {
  background-color: #78777c;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #eee;
  font-weight: 600;
  text-align: center;
}
#tableA td {
  border: 1px solid #eee;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  text-align: left;
  width: 70%;
  vertical-align: middle;
}
#tableA tr:nth-child(odd) {
  background-color: #f2f2f2;
}
#tableA tr:hover {
  background-color: #dddddd;
}

.btndownload-drive {
  background: #e92d29;
  color: #fff;
  text-align: center;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 45px;
  transition: 0.35s;
  margin: 0 auto;
}
.btndownload-drive:hover {
  background: #017eff;
  transition: 0.35s;
}
.btndownload-drive a {
  color: #fff;
}
.btndownload-drive a:hover {
  color: #fff;
}

.CASS-Sanchai-middle-mid .row-fluid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.CASS-Sanchai-middle-mid .row-fluid > div {
  width: 100% !important;
}

.CASS-Sanchai-middle-mid figure.effect-oscar {
  background: transparent;
  box-shadow: 4px 4px 15px 4px rgb(190 190 190 / 28%);
}
