/*template4*/
#Contentmanager .nav-template > li,
#Contentmanager .nav-template .padding-col {
  margin: 0;
  padding: 0 !important;
}

#Contentmanager .nav-template {
  width: 100%;
}

#Contentmanager .nav-template > li a {
  display: grid;
}

#Contentmanager .nav-template .maxHeight-main,
#Contentmanager .nav-template .maxHeight-TP4 {
  min-height: 0 !important;
  max-height: 100% !important;
}
#Contentmanager .nav-template .img {
  position: relative !important;
  min-height: 300px;
  background-size: 100% !important;
  background-repeat: no-repeat;
}

/*template10*/
#Contentmanager .col-xs-12.padding-md {
  padding: 0 !important;
}

#Contentmanager .img-container .img {
  position: unset !important;
  aspect-ratio: 4 / 3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset !important;
}

#Contentmanager .col-sm-8 .img-container .img {
  aspect-ratio: 16 / 9 !important;
}

#Contentmanager .img-container,
#Contentmanager .img-capthumb.img-container {
  padding: 0 !important;
  min-height: 100% !important;
  height: 100%;
  max-height: 100% !important;
  border: none;
}
