.nav-header[data-v-ae0a3712]{display:flex;align-items:center;gap:20px;width:100%;position:relative;border-bottom:1px solid var(--border-color);height:50px;padding:0 var(--gap)}.logout-btn[data-v-ae0a3712]{position:relative}
