.container[data-v-7c8c78d1]{width:80%;margin:auto;container-type:inline-size}.h1[data-v-7c8c78d1]{font-size:6cqw;line-height:1;margin:0}.h3[data-v-7c8c78d1]{font-size:4cqw;margin:0}p[data-v-7c8c78d1]{font-size:1.5cqw;margin:0}
