.fm[data-v-4d02e6b7]{max-width:500px;margin:auto}.fm td[data-v-4d02e6b7]{height:100px;place-content:center;text-align:center}.fm div[data-v-4d02e6b7]{white-space:wrap;text-align:center;display:block}
