body {
    overflow-x: hidden;
}

.itopplus-bg {
    background-image: url('');
}

.itopplus-bg2 {
    background-image: url('');
}

.navbar-default .navbar-nav>li>a {
    color: #444;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: none;
    border-bottom: 3px solid transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #444 !important;
    box-shadow: none;
    border-bottom: 3px solid #000;
    background: transparent;
    background-color: transparent;
}

.dropdown-menu>li>a {
    color: #000;
}

.no-js .dropdown-menu>li>a:focus,
.no-js .dropdown-menu>li>a:hover {
    color: #000;
    background: #e8e8e8;
}

@media screen and (max-width: 992px) {

    #controlBanner img {
        position: fixed;
        top: 10px;
        left: 10px;
        width: 60px !important;
        z-index: 10000;
        filter: brightness(0) invert(1);
    }

    #nav-menu,
    #ItopplusMainSidebar>div {
        background: #fff !important;
    }

    #itpMenuSideBar span {
        background-color: #000 !important;
    }

    #controlMenu * {
        color: #000 !important;
        border: none;
    }


}

@media screen and (min-width: 1024px) {

    .itopplus-banner .container {
        display: grid;
        grid-template-columns: 15% auto;
        align-items: center;
    }

    .no-js .itopplus-banner {
        position: sticky;
        top: 0;
        z-index: 110;
    }

    .itopplus-banner {
        background: #fff;
        transition: .3s;
    }

    .itopplus-sticky {
        background: #fff !important;
    }

    .itp-block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        height: 100%;
    }

    .itopplus-search {
        text-align: center;
    }

    #controlBanner {
        object-fit: contain;
        padding: 15px;
        width: 100%;
        min-width: 8vw;
        margin: 0 auto;
    }

    #nav-menu {
        display: grid;
        justify-content: end;
        background: transparent;
        min-height: auto;
    }

    #itopplus-nav-bar>li {
        display: -webkit-inline-box;
    }

    .itopplus-nav-bar li:not(:last-of-type):not(.itopplus-sidebar-menu-parent):not(.dropdown-submenu):after {
        content: '|';
        display: grid;
        place-content: center;
        color: #444;
    }

}



@media screen and (min-width : 1366px) {}

@media screen and (min-width : 1900px) {}

@media screen and (max-width : 900px) {}

@media screen and (max-width : 480px) {}