.nav-aside {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  height: 100vh;
  padding: 2vw;
  background: var(--color2);
}

.top-aside {
}

.mid-aside {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.top-aside {
}

.nav-logo {
  display: grid;
  position: relative;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-aside span {
  font-size: clamp(12px, 0.5vw, 14px);
  text-transform: uppercase;
  color: #aaa;
}

a.nav-link {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  color: var(--font2);
}

a.nav-link img {
  aspect-ratio: 1;
  width: 20px;
  filter: brightness(0) invert(15%) sepia(100%) saturate(6000%) hue-rotate(270deg);
}

.nav-menu a:hover {
  color: var(--main-color2);
}

body.dark-mode {
  & a.nav-link img {
    filter: invert(1);
  }

  .nav-logo .light {
    display: none;
  }
}
