.unknown {
  position: fixed;
  bottom: 5% !important;
}

.unknown_prf .btn-main,
.unknown_prf:hover .btn-main {
  margin-bottom: 0 !important;
}

.itopplus-banner .container::before,
.itopplus-banner .container::after {
  display: none;
}

.itopplus-layout .container::before,
.itopplus-layout .container::after {
  display: none;
}

#itopplus-nav-bar::before,
#itopplus-nav-bar::after {
  display: none;
}

#main-navbar-collapse {
  width: -webkit-fill-available;
}

#itopplus-nav-bar {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
}

#itopplus-nav-bar::before,
#itopplus-nav-bar::after {
  display: none;
}
