:root {
  --ui-bg1: #212121;
  --ui-bg2: #1a1a1a;
  --ui-bg3: #fff;
  --ui-bg4: #3a3e4a;
  --ui-font: #fff;
  --focus: #4abdff;
  --status0: #ff0000;
  --status1: #308eec;
  --status2: #56d524;
  --focus2: #00be75;
  --border-radius: 5px;
  --border-color: #3d3d3d;
  --gap: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#AppClient {
  position: relative;
  display: grid;
  grid-template-columns: 15vw auto;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  background: var(--ui-bg1);
  color: var(--ui-font);
}

header {
  display: flex;
  align-items: center;
  background: var(--ui-bg1);
  box-shadow: 0 0 3px var(--border-color);
  padding-right: 15px;
}

footer {
  background: var(--ui-bg1);
  min-height: 50px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid var(--border-color);
  height: inherit;
}

main {
  display: flex;
  flex-direction: column;
  background: var(--ui-bg2);
  height: inherit;
}

section {
  height: inherit;
  padding: var(--gap);
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--focus2);
  border-radius: var(--border-radius);
  min-height: 5%;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--ui-font);
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

figure {
  display: grid;
  gap: 15px;
  padding: 20px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 #ccc;
  overflow: hidden;
  background: #fff;
}

figcaption {
  font-size: 20px;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-block-start: 0;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

caption {
  text-align: left;
}

caption :is(h1) {
  margin-bottom: 1em;
}

p {
  margin: 0 0 10px;
}

span {
  color: #777;
  font-weight: 800;
  letter-spacing: 1px;
}

sup {
  color: var(--bg-color3);
  font-weight: 600;
}

button {
  display: grid;
  place-items: center;
  width: fit-content;
  min-width: 160px;
  border-radius: 30px;
  padding: 15px;
  margin: 0;
  border: none;
  background: var(--bg-color2);
  color: var(--font-color2);
  transition: 0.5s;
}

*::placeholder {
  color: var(--ui-font);
}

table.TableViews {
  width: 100%;
  border-collapse: collapse;
  color: var(--ui-font);
  table-layout: fixed;
  background: var(--ui-bg1);
}

thead {
  background: var(--ui-bg1);
  color: var(--ui-font);
}

.TableViews th,
.TableViews td {
  border: 1px solid var(--border-color);
  padding: 0 10px;
  text-align: left;
  height: auto;
}

.TableViews thead {
  background: var(--ui-bg1);
  color: var(--ui-font);
}

.TableViews td.editing {
  box-shadow: inset 0 0px 2px 1px #4abdff;
}

form *:not(button) {
  font-size: 16px;
}

form {
  display: grid;
  gap: var(--gap);
}

form > input {
  min-height: 45px;
}

form#search-form {
  display: grid;
  align-items: center;
  position: relative;
}

form#search-form img {
  position: absolute;
  right: 10px;
  width: 18px;
  height: 18px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding: 0 10px;
  margin: 0;
  color: var(--ui-font);
  min-height: 40px;
}

textarea {
  height: 8vw;
  min-height: 100px;
  background: transparent;
}

.search-box::after {
  display: block;
  content: "";
  background-image: url(/src//assets/icon/search.png);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: invert(1);
  height: 15px;
  width: 15px;
  position: absolute;
  right: 10px;
}

@media (max-width: 1200px) {
  #AppClient {
    --gap: 10px;
    display: flex;
    flex-direction: column;
  }

  footer {
    display: none;
  }

  aside {
    position: absolute;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    background: var(--ui-bg2);
    transform: translateX(-100%);
  }
}
