:root {
  --main-white: #fff;
  --main-overlay: #f2f5fd;
  --font-color: #333;
  --font-color2: #535768;
  --main-color: #6161ff;
  --box-shadow1: rgba(97, 97, 255, 0.5) 0px 3px 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
}

body.dark-mode {
  --main-white: #202020;
  --main-overlay: #252525;
  --font-color: #fff;
  --box-shadow1: transparent;
  --border-color: transparent;
  & a.nav-link img {
    filter: invert(1);
  }
}

body::-webkit-scrollbar,
section::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}

#app {
  position: relative;
}

main {
  background: var(--main-overlay);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: clamp(22px, 4vw, 60px);
  font-weight: 200;
  line-height: 1.5;
  margin: 0;
}

h2 {
  font-size: clamp(20px, 4vw, 24px);
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

h3 {
  font-size: clamp(20px, 4vw, 20px);
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

p {
  line-height: 1.8;
  margin: 0;
}

span {
  font-size: 14px;
  margin-top: 15px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color);
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 400;
}

a:hover {
  color: var(--main-color);
}

button {
  width: fit-content;
  min-width: 120px;
  height: fit-content;
  border: none;
  border-radius: 8px;
  padding: 15px 20px 12px;
  margin: auto;
  font-size: clamp(14px, 1vw, 16px);
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  opacity: 0.8;
}

section {
  position: relative;
  overflow: hidden;
}

caption {
  display: block;
  text-transform: uppercase;
  text-align: left;
  font-size: clamp(26px, 2vw, 32px);
  font-weight: 700;
  color: var(--font1);
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: clamp(20px, 4vw, 50px);
  background: transparent;
}

form #input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(20px, 4vw, 50px);
}
form > *:first-child {
  margin-bottom: 20px;
}

input,
textarea {
  padding-block: 10px;
  margin-bottom: clamp(10px, 1vw, 20px);
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
}

textarea {
  height: clamp(60px, 8vw, 80px);
  background: transparent;
}

input::placeholder {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.8;
}

textarea::placeholder {
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.8;
}

._container {
  display: grid;
  gap: 20px;
  padding: clamp(50px, 10vw, 120px) 0;
  width: 65vw;
  margin: 0 auto;
}

.grid-default {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  margin: clamp(50px, 10vw, 80px) auto;
}

.grid-image {
  display: grid;
  place-items: center;
}

.center {
  text-align: center;
}

@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  ._container {
    width: 85vw;
  }

  .grid-default {
    display: grid;
    gap: 50px;
  }

  .grid-2 {
    margin: 0;
  }
}

@media screen and (max-width: 440px) {
}
