.nav-aside {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  height: 100vh;
  padding: 2vw;
  background: var(--color2);
}

.top-aside {
}

.mid-aside {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.top-aside {
}

.nav-logo {
  display: grid;
  background-image: url("@/assets/weather/day.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  margin: 0 auto var(--gap);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-aside span {
  font-size: clamp(10px, 0.8vw, 14px);
  text-transform: uppercase;
  color: #aaa;
}

.nav-menu a {
  display: flex;
  align-items: start;
  gap: 10px;
  font-size: clamp(12px, 1vw, 16px);
  color: var(--font2);
}

.nav-menu img {
  aspect-ratio: 1;
  width: clamp(15px, 1vw, 18px);
  filter: brightness(0) invert(15%) sepia(100%) saturate(6000%) hue-rotate(270deg);
}

.nav-menu a:hover {
  color: var(--main-color2);
}

body.dark-mode .nav-logo {
  background-image: url("@/assets/weather/night.png");
}

body.dark-mode .nav-menu img {
  filter: invert(1);
}
