@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  --main-color: #1b1b1b;
  --sub-color: #fff;
  --main-color2: #9d00ff;
  --font1: #fff;
  --font2: #555;
  --main-bg: #fafafa;
  --box-shadow1: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  --gap: 1.5vw;
  margin: 0;
  padding: 0;
  font-size: clamp(14px, 1vw, 16px);
  font-family: "Inter", sans-serif;
  background: var(--main-bg);
  color: var(--main-color);
  transition: 0.3s;
  color: var(--font2);
}

body.dark-mode {
  --main-color: #101011;
  --sub-color: #1b1b1b;
  --font2: #fff;
  --main-bg: #101011;
}

body::-webkit-scrollbar {
  opacity: 0;
  width: 0;
}

img {
  width: 100%;
}

a {
  color: var(--font1);
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(26px, 2vw, 34px);
  margin: 0;
}

h2 {
  font-size: clamp(24px, 1.5vw, 30px);
  margin: 0;
}

h3 {
  font-size: clamp(20px, 1.5vw, 26px);
  margin: 0;
}

aside {
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  background: var(--sub-color);
  box-shadow: var(--box-shadow1);
}

button {
  font-size: clamp(14px, 1vw, 16px);
  background: var(--main-color2);
  color: var(--font1);
  border-radius: 30px;
  padding: 15px 15px;
  width: fit-content;
  border: none;
  cursor: pointer;
}

.App-layout {
  display: grid;
  grid-template-columns: 18% auto clamp(30px, 4%, 60px);
}

.mockup {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.box {
  display: block;
  background: var(--sub-color);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 15px;
  box-shadow: var(--box-shadow1);
}

.type1 {
  height: 15vw;
}

.type2 {
  height: 20vw;
  width: 100%;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
