.TableLayout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.TableLayout :is(button, input) {
  border-radius: 3px;
  border: 1px solid #444;
  cursor: pointer;
  height: 40px;
  width: fit-content;
  min-width: auto;
  padding: 0 15px;
}

.TableLayout :is(button, input):hover {
  border: 1px solid var(--focus);
}

.TableLayout :is(button, input):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.PlayerLineup {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  border: 1px solid #444;
  padding: 20px;
  min-height: 140px;
}

.PlayerFrame {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #444;
  padding: 10px;
}

.PlayerName {
  display: flex;
  gap: 5px;
}

.PlayerAction {
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: relative;
}

.activePlayers {
  border: 1px solid var(--focus);
}

.foldedPlayers {
  display: none;
  opacity: 0.2;
}

.PlayerPosition {
  display: grid;
  align-items: start;
  justify-content: end;
  justify-items: end;
  gap: 3px;
}

.PlayerBet {
  display: grid;
  align-items: end;
  justify-content: end;
}

.TableBoard {
  display: flex;
  gap: 20px;
  height: 100%;
  border: 1px solid #444;
  padding: 20px;
}

.TableBoard > div {
  flex: 1;
}

.TableSetting {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: auto;
}

.TableFlob {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  padding: 20px;
  place-items: center;
  gap: 5px;
}

.TimelineLog {
  border: 1px solid #444;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.TimelineRound {
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
}

.TableFlobCard,
.PlayerHand {
  display: flex;
  gap: 10px;
}

.CardBody {
  display: grid;
  place-items: center;
  width: 35px;
  height: 45px;
  aspect-ratio: 5/3;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 3px;
}

.ActionButton {
  display: flex;
  gap: 20px;
}

.ChipButton {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.TableSetting > *,
.ActionButton > *,
.ChipGroup > * {
  flex: 1;
}

.ChipBtn {
  display: flex;
  justify-content: center;
  border: 1px solid #444;
  width: fit-content;
}

.ChipControl button {
  border: 1px solid transparent;
}

@media screen and (max-width: 480px) {
  .TableLayout * {
    font-size: 10px;
  }
  .TableBoard {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  .PlayerAction {
    gap: 10px;
  }

  .ChipGroup > * {
    flex: 25%;
  }

  .PlayerLineup {
    padding: 0;
    gap: 0;
  }

  .PlayerFrame {
    display: flex !important;
    flex-direction: column;
  }

  .PlayerPos {
    display: none;
  }

  .CardBody {
    width: 20px;
    height: auto;
  }
}
