.TableLayout {
  --gap: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  gap: var(--gap);
  padding-bottom: 20px;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.TableLayout :is(button) {
  border-radius: 3px;
  border: 1px solid #444;
  cursor: pointer;
  height: 40px;
  width: fit-content;
  min-width: auto;
  white-space: nowrap;
  padding: 0 !important;
}

.TableLayout :is(button):hover {
  border: 1px solid var(--focus);
}

.TableLayout :is(button):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.TableLayout * {
  font-size: clamp(10px, 1vw, 14px);
}

.PlayerLineup {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid #444;
}

.PlayerFrame {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--gap);
  padding: var(--gap);
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #444;
}

.PlayerName {
  display: flex;
  gap: 5px;
}

.PlayerAction {
  display: flex;
  gap: var(--gap);
  flex-direction: column;
  position: relative;
}

.activePlayers {
  border: 1px solid var(--focus);
}

.foldedPlayers {
  display: none;
  opacity: 0.2;
}

.PlayerPosition {
  display: grid;
  align-items: start;
  justify-content: end;
  justify-items: end;
  gap: 3px;
}

.PlayerBet {
  display: grid;
  align-items: end;
  justify-content: end;
}

.TableSetting {
  display: flex;
  gap: var(--gap);
  width: 100%;
}

.TableFlob {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  padding: var(--gap);
  place-items: center;
  gap: 5px;
}

.TimelineLog {
  border: 1px solid #444;
  padding: var(--gap);
  overflow-y: scroll;
}

.TimelineRound {
  border-bottom: 1px solid #444;
  padding-bottom: var(--gap);
}

.TableFlobCard,
.PlayerHand {
  display: flex;
  gap: var(--gap);
}

.CardBody {
  display: grid;
  place-content: center;
  place-items: center;
  width: 30px;
  height: auto;
  aspect-ratio: 3/4;
  border: 1px solid #444;
  border-radius: 3px;
  line-height: 1;
}

.ActionButton {
  display: flex;
  gap: var(--gap);
}

.ChipButton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.TableSetting > *,
.ActionButton > *,
.ChipGroup > * {
  flex: 1;
}

.ChipBtn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ChipBtn button {
  width: 100% !important;
}

@media screen and (max-width: 480px) {
  .TableLayout {
    --gap: 10px;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }

  .CardBody {
    width: 18px;
  }

  .TimelineLog {
    height: 100%;
    min-height: 35vh;
    max-height: 35vh;
  }

  .PlayerLineup {
    min-height: 20vh;
  }

  .TableFlob {
    min-height: 10vh;
  }

  .PlayerAction {
    min-height: 5vh;
  }

  .ChipButton {
    min-height: 10vh;
  }

  .PlayerFrame,
  .PlayerName {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-content: center;
  }

  .TableLayout :is(button) {
    height: 35px;
  }

  .ChipButton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
