.TableLayout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: inherit;
  gap: var(--gap);
  overflow: hidden;
}

.TableLayout :is(button) {
  border-radius: 3px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  height: 40px;
  width: fit-content;
  min-width: auto;
  white-space: nowrap;
  padding: 0 !important;
}

.TableLayout :is(button):hover {
  border: 1px solid var(--focus);
}

.TableLayout :is(button):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.TableLayout * {
  font-size: clamp(10px, 1vw, 14px);
}

.PlayerLineup {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid var(--border-color);
  height: 15%;
  min-height: 135px;
}

.PlayerFrame {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--gap);
  padding: var(--gap);
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.PlayerFrame :not(.Main) .PlayerName {
  display: flex;
  gap: 5px;
}

.PlayerAction {
  display: flex;
  gap: var(--gap);
  flex-direction: column;
  position: relative;
}

.activePlayers {
  border: 1px solid var(--focus);
}

.foldedPlayers {
  display: none;
  opacity: 0.2;
}

.PlayerPosition {
  display: grid;
  align-items: start;
  justify-content: end;
  justify-items: end;
  gap: 3px;
}

.PlayerBet {
  display: grid;
  align-items: end;
  justify-content: end;
}

.TableSetting {
  display: flex;
  gap: var(--gap);
  width: 100%;
}

.TableFlob {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  border: 1px solid var(--border-color);
  padding: var(--gap);
  gap: 5px;
  height: 10%;
  min-height: 40px;
}

.TimelineLog {
  border: 1px solid var(--border-color);
  padding: var(--gap);
  overflow-y: scroll;
  height: -webkit-fill-available;
  max-height: 40vh;
}

.TimelineRound {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: var(--gap);
}

.TableFlobCard,
.PlayerHand {
  display: flex;
  gap: var(--gap);
}

.CardBody.hide-card-details > div {
  font-size: 0;
}

.CardBody {
  display: grid;
  place-content: center;
  place-items: center;
  width: 30px;
  height: auto;
  aspect-ratio: 3/4;

  border-radius: 3px;
  line-height: 1;
}

.TableFlob .CardBody.spades,
.PlayerFrame:first-child .CardBody.spades {
  border: 1px solid #fff;
}

.TableFlob .CardBody.hearts,
.PlayerFrame:first-child .CardBody.hearts {
  border: 1px solid #ff5151;
}

.TableFlob .CardBody.diamonds,
.PlayerFrame:first-child.CardBody.diamonds {
  border: 1px solid #59ff9e;
}

.TableFlob .CardBody.clubs,
.PlayerFrame:first-child .CardBody.clubs {
  border: 1px solid #3ae1ff;
}

.ActionButton {
  display: flex;
  gap: var(--gap);
}

.ChipButton {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
}

.TableSetting > *,
.ActionButton > *,
.ChipGroup > * {
  flex: 1;
}

.ChipBtn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ChipBtn button {
  width: 100% !important;
}

@media screen and (max-width: 480px) {
  .CurrentPhase {
    display: none;
  }

  .CardBody {
    width: 20px;
  }

  .PlayerFrame,
  .PlayerName {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-content: center;
    gap: 5px;
  }

  .TableLayout :is(button) {
    height: 35px;
  }

  .ChipButton {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
